div.img{
	margin: 0% 0% 0% -10%;
	width: 960px;
	position: relative;
}

.img1{
	margin: 1% 0% 0% 0%;
	position: absolute;
	z-index: -1;
}

.img2{
	margin: 0% 0% 0% 0%;
	height: 32px;
	width: 32px;
	position: absolute;
}